/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/* ===========================================================
   GENERAL STYLESHEET BY BYINARY THEME    
   ============================================================*/

/* ===========================================================
   GENERAL STYLES   
   ============================================================*/
body {
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;   
    margin-top: 40px;
    line-height: 25px;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
    font-weight: 500;
}
h1 {
    color:#11B674;
    font-weight: 700;
}
.text-center {
    text-align: center; 
}
.main-top-margin {
    margin-top: 75px;
}
.main-low-margin {
    margin-top: 55px;
}
a,a:hover {
    text-decoration:none;
}
p {
    line-height: 25px;
    margin-bottom: 23px;
}
.img-margin-product {
    margin-top:30px;
}
.bottam-pad {
     padding-bottom:40px;
}
/* ==========================================================================
   COLOR CODES
   ========================================================================== */

.color-red {
    color:#ff0000;
}
.color-green {
    color:#07BB00;
}
.color-light-blue {
    color:#BB00BB;
}
.color-blue {
    color:#0052FF;
}
.color-brown {
    color:#EB8F2D;
}
.color-black {
    color:#000000;
}

/* ==========================================================================
   HEADER SECTION
   ========================================================================== */

#header-section {
	background: url(../img/code-header.jpg) no-repeat center top;
	margin-top: -20px;
	padding-top:20px;
	text-align:center;
	background-position: center center;
	min-height: 700px;
	width: 100%;	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#header-section h1 {
	margin-top: 120px;
	color: white;
	font-size: 45px;
	font-weight: 400;
	letter-spacing: 4px;
    line-height:70px;
}
#header-section h2 {
	color: white;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 4px;
}
.down-icon {
     color:white;
    font-weight:900;
}

/* ==========================================================================
   ABOUT SECTION
   ========================================================================== */

#about-section {
    background-color: #FAFAFA;
}
#about-section blockquote{
	text-align: left;
    line-height: 25px; 
}

/*==========================================
   PORTFOLIO VERSIONS BUTTONS
    =====================================================*/

.versions{
	display: inline-block;
	padding: 6px 20px;
	margin: 5px;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	color: #f2f2f2;
	font-size: 14px;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #666666;
}
.versions:hover{
	background-color: #222222;
}
.active{
	background-color: #4CAF50;
}
.active:hover{
	background-color: #47a447;
}
.frame{
	margin-top: 20px;
}
/*==========================================
   SIDENAV IN PORTFOLIO SECTION
    =====================================================*/

.sidenav li{
	border-bottom: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidenav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.sidenav{
	position: relative;
	background-color: #666;
	overflow: hidden;
	transition: 0.5s;
	margin: 40px 0 0 0;
	padding: 0;
	text-align: center;
}
.sidenav a{
	margin: 0;
	padding: 10 0;
	text-decoration: none;
	font-size: 1em;
	color: #f2f2f2;
	display: block;
	transition: 0.3s;
}
.sidenav a:hover{
	background-color: #222;
	border-bottom: none;
}
.navContainer{
	margin: 20px 0 0 0;
	padding: 0;
}
.iFCont{
	margin: 0;
	padding: 0;
}
.sticky{
	position: fixed;
	top: 50px;
}
.topPlaceholder{
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	display: block;
}
/*==========================================
   SOCIAL ICON STYLES
    =====================================================*/

.color-facebook {
    color:#3B5998;
}
.color-twitter {
     color:#00aced;
}
.color-google-plus {
     color:#dd4b39;
}
.color-linkedin {
     color:#007bb6;
}

/* ===========================================================
   BOOTSTRAP ELEMENTS CHANGES   
   ============================================================*/
.navbar {
	font-weight: 800;
	font-size: 12px;
}
.navbar-inverse {
	background: #2F11C4;
	border-color: #2F11C4;
}
.navbar-inverse .navbar-nav > .active > a {
	background: #ffffff;
}
.navbar-inverse .navbar-brand {
	color: #29FF00;
	font-weight: bolder;
	font-size: 18px;
    font-weight:900;
	letter-spacing: 2px;
}
.navbar-inverse :hover .navbar-brand:hover {
	color: #29FF00;	
}
.navbar-inverse .navbar-nav > li > a {
	color: #FFFFFF;
}

/* ==========================================================================
   CONTACT SECTION
   ========================================================================== */

#contact-section {
    background-color: #FAFAFA;
}
/* ==========================================================================
   FOOTER SECTION
   ========================================================================== */
   
#footer {
    background-color: #2F11C4; 
    color: #fff; 
    text-align: right; 
    padding: 10px 30px 10px 30px;
}

/* ==========================================================================
   MEDIA QURIES
   ========================================================================== */
   
